<div>
  <p class="h3">
    <% if params[:query].blank? %>
      <%= pluralize assistants.count, 'assistant' %> available
    <% else %>
      <%= pluralize assistants.count, 'result' %> for <code><%= params[:query] %></code>
    <% end %>
  </p>
    <div class="assistants">
    <% assistants.each do |assistant| %>

    <% end %>
  </div>
</div>
