<div class="container main wrapper-edit-assistant py-5">
  <div class="pt-5"><h1 class="pt-4 text-center">Update Profile</h1></div>
        <%= render "form", assistant: @assistant %>
  </div>
</div>
