<div class="container d-flex justify-content-center vw-100 p-4">
  <div class="d-flex justify-content-center flex-column rounded shadow-lg p-4">
    <h1 class="m-0 py-2">Apply to this Offer</h1>
        <%= render "form", application: @application %>
  </div>
</div>
