
<section id="services">
  <div  class="wrapper-offers">
    <div class="service-cards">
      <div class="service-card ui">
        <%= render "form", application: @application %>
      </div>
    </div>
  </div>
</section>
