<div class="container main wrapper-edit-assistant text-center py-5">
  <div class="pt-5"  style="margin:3rem 0 0 0;"><h1 class="py-4 text-center">Apply to this Offer</div>
    <div class="card p-4 rounded shadow-lg">
      <p><i class="fa-solid fa-earth-americas icon-text"> </i> <em>  “We really want to … turn intentions around inclusion and belonging into real action.”</em></p>
        <%= render "form", application: @application %>
    </div>
  </div>
</div>
