<h4>you want to iniciate a conversation to this person?</h4>
<%= simple_form_for [@assistant, @chatroom] do |f| %>
  <%= f.input :assistant_id, as: :hidden, input_html: { value: @assistant.id } %>
  <%= f.button :submit, "begin conversation", class: "btn-outline-succes" %>
<% end %>
