<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= asset_path 'background.jpg' %>);">
  <div class="card-container flex-wrap ">
  <div class="py-2">
    <h1>The N°1 <strong><span style="color: #00A699;">Offer</span><span style="color: #FF385C;">Marketplace</span></strong> </h1>
  </div>
  <div class="py-2">
    <h2>Find your dream in 1 click !</h2>
  </div>
  <div class="py-2">
    <%= link_to "see all avilable offers", offers_path, class:"btn btn-look btn-outline-light"%>
    <% if user_signed_in? == false %>
    <%= link_to "Ours Assistants", assistants_path, class: "btn btn-look btn-outline-light" %>
    <%= link_to "Ours Companies", companies_path, class: "btn btn-look btn-outline-light" %>
    <% end %>
  </div>
  </div>
</div>
