<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= asset_path 'background.jpg' %>);">
  <div class="container flex-wrap ">
    <div class="py-3">
      <h1>The N°1 <strong><span>Offer</span> <span>Marketplace</span></strong> </h1>
    </div>
    <div class="py-3">
      <h2>Find your dream in 1 click !</h2>
    </div>
    <div class="py-3">
      <%= link_to "See all avilable offers", offers_path, class:"btn btn-look btn-outline-light"%>
      <% if user_signed_in? == false %>
      <%= link_to "Our Assistants", assistants_path, class: "btn btn-look btn-outline-light" %>
      <%= link_to "Our Companies", companies_path, class: "btn btn-look btn-outline-light" %>
      <% end %>
    </div>
  </div>
</div>
