<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/app/assets/stylesheets/components/_profile.scss">
    <script src="https://kit.fontawesome.com/b54b5a4cc8.js" crossorigin="anonymous"></script>

    <title>Profile current_user</title>
  </head>
  <body>

    <div class="wrapper">
      <div class="img-area">
        <div class="inner-area">
          <img
            src="https://www.dlf.pt/png/big/0/8995_man-cartoon-png.jpg"
            alt="Asistante Virtual picture"
          />
        </div>
      </div>
      <div class="name">Cédric CAZAL</div>
      <div class="career">Student Web Development</div>
      <hr class="horizon" />
      <button class="about">About Me</button>
      <div class="info">
        <p>Username: Cedcaz</p>
        <p>Age: 43</p>
        <p></p>
        <p></p>
        <p>Skill: HTML / CSS / RoR / Etc...</p>
        <p>Email: cedcaz@gmail.com</p>
        <p>Phone: +33 333 333 333</p>
      </div>
      <p class="flow">Follow Me</p>
      <div class="social-icons">
        <a href="#" target="" class="fb"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a href="#" target="" class="messenger"
          ><i class="fab fa-facebook-messenger"></i
        ></a>
        <a href="#" target="" class="insta"
          ><i class="fab fa-instagram"></i
        ></a>
        <a href="#" target="" class="whatsapp"
          ><i class="fab fa-whatsapp"></i></a>
        <a href="#" target="" class="email"
          ><i class="fas fa-envelope"></i
        ></a>
      </div>
    </div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
