<h1 class="margin-padding">Edit profile</h1>
<section class="container py-4" id="services">
  <div class="wrapper">
    <div class="service-cards">
      <div class="service-card ui">
        <%= render "form", company: @company %>
      </div>
    </div>
  </div>
</section>
