<section class="container vh-100" id="services">
  <div class="wrapper">
    <h1>Edit profile</h1>
    <div class="service-cards">
      <div class="service-card ui">
        <%= render "form", company: @company %>
      </div>
    </div>
  </div>
</section>
