<section id="services">
  <div  class="wrapper-offers">
    <h1>Add a new offer</h1>
      <div class="service-cards">
        <div class="service-card ui">
          <%= render "form", offer: @offer %>
        </div>
      </div>
  </div>
</section>
