<% @offers.each do |offer| %>
    <div class="card-deck">

    <div class="card">
      <div class="card-body">
        <h4 class="card-title"><%= offer.company.name %></h4>
        <h4 class="card-subtitle mb-2 text-muted"><%= offer.title %></h4>
        <p class="card-text"><%= offer.description %></p>
        <div class="register">
          <p class="register-btn"><%= offer.tag %></p>
        </div>
      </div>
    </div>

  </div>
<% end %>
