<h1 class="margin-padding">Add a new offer</h1>
<section class="container py-4" id="services">
  <div  class="wrapper">
      <div class="service-cards">
        <div class="service-card ui">
          <%= render "form", offer: @offer %>
        </div>
      </div>
  </div>
</section>
