.register {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register-btn {
  height: 25px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  font-weight: bold;
  background-color: white;
  border: 1px solid #2b2684;
  border-radius: 10px;
  color: #2b2684;
  transition: 0.5s;
  justify-content: center;
}

.register p {
  margin: 0 11px;
}
